.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.header{
    position:absolute;
    background-color:black;
    color:orange;
    top:0;
}

.footer{
    position: absolute;
    background-color: black;
    color:orange;
    bottom:0;
}

.main-content{
    padding-top: 100px;
}